@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #201c25;
  --foreground: #e5e5e5;
  --accent: #941870;
  --accent-hover: #b01d8a;
  --border: #3f3f3f;
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Calibri, "Calibri", "Segoe UI", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
